<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar color="primary">
      <span>Backoffice</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/manage" routerLinkActive="active">
        <mat-icon>settings</mat-icon> Beheer
      </a>
      <a mat-list-item routerLink="/companies-jobs" routerLinkActive="active">
        <mat-icon>business</mat-icon> Bedrijven & Vacatures
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Applicatie</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
