<div class="tab-content">
  <form [formGroup]="jobForm" (ngSubmit)="onJobSubmit()" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title" placeholder="Titel" />
      <mat-error *ngIf="jobForm.get('title')?.hasError('required')"
        >Titel is verplicht</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Omschrijving</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Omschrijving"
      ></textarea>
      <mat-error *ngIf="jobForm.get('description')?.hasError('required')"
        >Omschrijving is verplicht</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bedrijf</mat-label>
      <mat-select
        formControlName="companyId"
        placeholder="Selecteer een bedrijf"
      >
        <mat-option
          *ngFor="let company of companies$ | async"
          [value]="company.id"
        >
          {{ company.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="jobForm.get('companyId')?.hasError('required')"
        >Bedrijf is verplicht</mat-error
      >
    </mat-form-field>
    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="jobForm.invalid || loading"
      >
        <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
        <span *ngIf="!loading">{{
          isEditingJob ? "Bijwerken" : "Toevoegen"
        }}</span>
      </button>
      <button
        mat-button
        color="warn"
        (click)="resetJobForm()"
        *ngIf="isEditingJob"
      >
        Annuleren
      </button>
    </div>
  </form>
  <div class="table-container">
    <mat-spinner *ngIf="!(jobs$ | async)"></mat-spinner>
    <table
      mat-table
      [dataSource]="jobDataSource"
      class="mat-elevation-z8"
      *ngIf="jobs$ | async"
    >
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titel</th>
        <td mat-cell *matCellDef="let job">{{ job.title }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Omschrijving</th>
        <td mat-cell *matCellDef="let job">{{ job.description }}</td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Bedrijf</th>
        <td mat-cell *matCellDef="let job">
          {{ getCompanyName(job.companyId) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acties</th>
        <td mat-cell *matCellDef="let job">
          <button mat-icon-button color="primary" (click)="editJob(job)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteJob(job.id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="jobColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: jobColumns"></tr>
    </table>
  </div>
</div>
